BasedOnStyle: LLVM
Language: Cpp

AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlinesLeft: false
AlignOperands: false
AlignTrailingComments: false
ColumnLimit: 120
TabWidth: 4
UseTab: ForIndentation
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
IndentWidth: 4
IndentCaseLabels: true
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes

SortIncludes: true
IncludeCategories:
  - Regex:           '^<Arduino'
    Priority:        1
  - Regex:           '.*'
    Priority:        10
